.content-center{
    text-align: center;
}

header {
    font-size: 30pt;
    font-weight: bolder;
    margin-bottom: 30px;
}

.btn-holder {
    margin : 20px;
    border: 1px solid pink;
    background: lightgray;
    text-align: center;
    padding: 30px;
}

.btn{
    width: 300px;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0
}